
@{
    ViewData["Title"] = "Logs";
}

<style>
    table {
        border-spacing: 0 15px;
        align-self: center;
    }

    th {
        background-color: #4287f5;
        color: white;
    }

    th,
    td {
        width: 150px;
        text-align: center;
        border: 1px solid black;
        padding: 5px;
    }

    h2 {
        color: #4287f5;
    }
</style>

<div class="text-center">
    <br>
    <table>
        <tr>
            <td>Идентификатор</td>
            <td>Дата</td>
            <td>Строка подключения</td>
        </tr>
        @foreach (var user1 in Model)
        {
            <tr>
                <td>@user1.Id</td>
                <td>@user1.Date</td>
                <td>@user1.Url</td>
            </tr>
        }
    </table>
</div>
